
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --bege: #c59c79;
    --vermelho: #48192e;
    --vinho: #281822;
    --rosa: #957083;
    --branco: #fbf5f0;
}

*{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 370;
}

html, body {
    margin: 0;
    max-height: 100vh;
    height: 100vh;
    color: white;
    background-color: var(--vinho);
}
.all {
    height: 91%;
    margin: 0 auto;
    justify-content: center;
    border: 4px solid transparent;
    border-radius: 15px;
    width: 1300px;
    margin-top: 0%;
}
.h1{
    margin-top: 0px;
    font-size: 440%;
    letter-spacing: -2px;
}

h1{
    font-size: 220%;
    letter-spacing: -2px;
    margin-bottom: 0;
}

p{
    width: 30%;
    margin-top: 0;
    font-size: 120%;
    font-weight: 199.9;
}

.grafico{
    width: 35%;
    border: 1px transparent;
    border-radius: 10px;
    margin-top: 2%;
}
.meio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2%;
}


.meio-direito{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    flex: 1; /* ocupa o espaço restante sem estourar */
    margin-left: 0;
    margin-top: 0;
    width: 55%;
    
}
.meio-direito p {
    width: 100%;
}

.low{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: 0%;
    height: 20%;
    margin-top: 4%;
}

.low p {
    width: 100%;
}

.low h1{
    margin-top: 0;
}

.left{
    border: 2px solid #48192e;
    border-radius: 10px;
    background-color: #48192e;
    width: 50%;
}

.right{
    border: 2px solid #48192e;
    border-radius: 10px;
    background-color: #48192e;
    width: 50%;
}


.btn-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

    margin-right: 0.8%;

    gap: 0.5%;

}

#direita {
    height: 45px;
    width: 65px;

    color: var(--branco);

    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(var(--vermelho)) padding-box,
        linear-gradient(90deg, var(--vermelho), var(--bege)) border-box;
    
    transition: 500ms;
}

#direita:hover {
    transform: scale(1.03);
    transition: 500ms;
    background:
    linear-gradient(var(--vinho)) padding-box,
    linear-gradient(90deg, var(--vermelho), var(--bege)) border-box;

}