:root {
    --bege: #c59c79;
    --vermelho: #48192e;
    --vinho: #281822;
    --rosa: #957083;
    --branco: #fbf5f0;
}

html, body {
    max-height: 100vh;
    height: 98vh;
    width: 98.5%;

    margin-left: 17px;

    background-color: var(--vinho);

    color: var(--branco);
}

.main {
    display: flex;
    flex-direction: row;
}

.texto {
    font-family: "Playfair", serif;
    font-weight: 90;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.imagem {
    background-color: var(--rosa);
    height: 300px;
    width: 600px;
    margin-top: 114px;
    margin-left: 50px;
}

.exemplos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 50px;
    font-size: large;
}

.exemplo {
    border: 2px solid transparent;
    width: 50%;
    padding-left: 30px;
    border-radius: 15px;
}

#exemplo-1 {
    background:
        linear-gradient(var(--vermelho)) padding-box,
        linear-gradient(90deg, var(--bege), var(--vermelho)) border-box;
}

#exemplo-2 {
    background:
        linear-gradient(var(--vermelho)) padding-box,
        linear-gradient(90deg, var(--vermelho), var(--bege)) border-box;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

    margin-right: 0;

    gap: 0.5%;

    margin-top: 100px;
}

#direita {
    height: 45px;
    width: 65px;

    color: var(--branco);

    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(var(--vermelho)) padding-box,
        linear-gradient(90deg, var(--vermelho), var(--bege)) border-box;
    
    transition: 500ms;
}

#esquerda {
    height: 45px;
    width: 65px;

    color: var(--branco);

    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background:
        linear-gradient(var(--vermelho)) padding-box,
        linear-gradient(90deg, var(--bege), var(--vermelho)) border-box;
    
    transition: 500ms;
}

#direita:hover {
    transform: scale(1.03);
    transition: 500ms;
    background:
        linear-gradient(var(--vinho)) padding-box,
        linear-gradient(90deg, var(--vermelho), var(--bege)) border-box;

}

#esquerda:hover {
    transform: scale(1.03);
    transition: 500ms;
    background:
        linear-gradient(var(--vinho)) padding-box,
        linear-gradient(90deg, var(--bege), var(--bege)) border-box;

}